
    <section class="abouttt">

        <br>
        <div class="text-center"><h1 class="abouth1">HAQQIMIZDA </h1></div>


        <br>
        <br>
        <div class="texttt">
            <p class="about-p">Micro-blog</p>
            <p class="about-p">
              <span class="word wisteria">Maraqlıdır</span>
              <span class="word belize">Əyləncəlidir.</span>
              <span class="word green">Gözəldir.</span>
              <span class="word pomegranate">Möhtəşəmdir.</span>
             
            </p>
          </div>
          <div class="container  offset-1"><p  class="abouthh1">Biz bu layihədə , qarşımıza əsas məqsəd olaraq , insanları öz maraqlarına uyğun olan paylaşımlar
              edərək , xoş zaman keçirmilərini qarşımıza əsas məqsəd qoymuşuq. </p>
             </div>



          

    </section>
