@{Layout="_Layout";}

<section class="contact">

    <br>
    <br>

    <div>
        <p class="text-about animate__animated animate__backInDown text-center ">Bizimlə Əlaqə <i class="fas fa-phone"></i></p>
    </div>
    <br>
    <br>


    <div id=container class="text-center">
        Bizimlə
        <div id=flip>
            <div><div>Zəng'lə</div></div>
            <div><div>Whatsapp'la</div></div>
            <div><div>Mail'lə</div></div>
        </div>
        Əlaqə Qura Bilərsiniz.
    </div>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <h1 style="font-size: 30px ;  text-shadow: 1px 1px 1px green;" class="text-center"><i class="fas fa-phone-volume"></i> Zəng və Whatsapp</h1>

                <br>

                <p style="font-size: 20px;">Bizimlə +99450-722-66-44 və ya +99450-877-74-00 nömrələrinə zəng edərək, yaxud Whatsapp'dan yazaraq əlaqə saxlaya bilərsiniz. </p>
            </div>
            <div class="col-12 col-sm-4">
                <h1 style="font-size: 30px ;  text-shadow: 1px 1px 1px green;" class="text-center"><i class="fas fa-mail-bulk"></i> Mail</h1>

                <br>
                <p style="font-size: 20px;">Bizimlə mikro-blog@gmail.com mail hesabına  yazaraq əlaqə saxlaya bilərsiniz. </p>
            </div>
            <div class="col-12 col-sm-4">
                <h1 style="font-size: 30px ;  text-shadow: 1px 1px 1px green;" class="text-center"> <i class="fas fa-map-marked-alt"></i> Ünvan</h1>
                <br>
                <p style="font-size: 20px;">Bizimlə ofisimizdə görüşmək üçün Bakı şəhəri Yeni yasamal ünvanına gəlməyiniz kifayətdir. </p>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d48612.19388955885!2d49.81821795!3d40.4030437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1saz!2s!4v1630710243349!5m2!1saz!2s" width="100%" height="350" style="box-shadow: 5px 5px;border:1px solid grey; border-radius: 20px;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>


</section>
