@{Layout="_Layout";}

@{
    ViewData["Title"] = "Login";
}

<h1>Login Page</h1>
@using MicroWebApp.Identity
@model LoginModel

<hr>

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="Login" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="UserName">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        
      
         
         <div class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        
        
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Daxil ol</button><br>
            </div>
            <a href="/Account/ForgotPassword">Parolunuzu unutmusuz?</a>
        </div>
    </form>
    </div>
</div>
